
<!-- Modal Dialogs ====== -->
<div class="modal fade" id="LabelManagerModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="background-color:#f5f5f5;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="title" id="ModalLabel">标签设置</h4>
            </div>
            <div class="modal-body" id="label-modal-body">
                <div class="row select-wrapper">
                    <!-- 已选择标签框 -->
                    <div class="selected-box col-lg-12 col-md-12 ">
                        <div class="card form-content" data-bs="lead">
                            <!-- 区块标题 -->
                            <div class="header">
                                <h2><strong>Choice</strong> 已选标签</h2>
                            </div>

                            <!-- 区块正文 -->
                            <div class="body" id="selected-box-body">
                                <!-- View -->
                                <div class="score-wrapper " id="selected-box-view" >
                                    <div style=" position: absolute;top:35px;left:2px;">
                                        <span class="badge badge-grey">View</span>
                                    </div>
                                    <!-- view标签准备填充的区域 -->
                                    <div id="choice-view" class="top-droppable people-group clearfix selected-view-content" >

                                    </div>
                                    <div class="num-xz score-xz" id="view-delete">
                                        <span class="numSpan">0</span>/<span class="totalNum">5</span>
                                    </div>
                                </div>
                                <!-- Hide -->
                                <div class="score-wrapper" id="selected-box-hide" >
                                    <div style=" position: absolute;top:35px;left:2px">
                                        <span class="badge badge-white">Hide</span>
                                    </div>
                                    <!-- hide标签准备填充的区域 -->
                                    <div d="choice-hide" class="top-droppable people-group selected-hide-content clearfix" >

                                    </div>
                                    <div class="num-xz score-xz" id="hide-delete">
                                        <span class="numSpan">0</span>/<span class="totalNum">8</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- 基础标签待选框 -->
                    <div class="col-lg-12 col-md-12" id="basic-check-box" >
                        <div class="card ">
                            <!-- 区块标题 -->
                            <div class="header">
                                <h2><strong>Basic</strong> 基础标签</h2>
                            </div>

                            <!-- 区块正文 -->
                            <div class="body people-list" id="basic-content">
                                <ul class="list-wrapper clearfix">
                                    <!-- 插入基础标签列表 -->
                                    <div id="li-basic-content">

                                    </div>
<!--                                    <li id="basic1-yellow" data-bs="lead"> <span class ="badge badge-yellow">标签0</span></li>-->
<!--                                    <li id="basic2-blue" data-bs="lead"> <span class ="badge badge-blue">标签1</span></li>-->
<!--                                    <li id="basic3-pink" data-bs="lead"> <span class ="badge badge-pink">标签2</span></li>-->
<!--                                    <li id="basic4-green" data-bs="lead"> <span class ="badge badge-green">标签3</span></li>-->
<!--                                    <li id="basic5-amber" data-bs="lead"> <span class ="badge badge-amber">标签4</span></li>-->
<!--                                    <li id="basic6-cyan" data-bs="lead"> <span class ="badge badge-cyan">标签5标签5标签5</span></li>-->
<!--                                    <li id="basic7-purple" data-bs="lead"> <span class ="badge badge-purple">标签6</span></li>-->
<!--                                    <li id="basic8-cyan" data-bs="lead"> <span class ="badge badge-cyan">标签7</span></li>-->
<!--                                    <li id="basic9-cyan" data-bs="lead"> <span class ="badge badge-cyan">标签8</span></li>-->
<!--                                    <li id="basic10-red" data-bs="lead"> <span class ="badge badge-red">标签9</span></li>-->
                                </ul>
                            </div>
                        </div>
                    </div>

                    <!-- 自定义标签待选框 -->
                    <div class="col-lg-12 col-md-12" id="custom-check-box">
                        <div class="card ">
                            <!-- 区块标题 -->
                            <div class="header">
                                <h2><strong>Custom</strong> 自定义标签</h2>
                            </div>
                            <!-- 区块正文 -->
                            <div class="body people-list" id="custom-content">
                                <!-- 自定义标签从数据库读取 -->
                                <ul class="list-wrapper clearfix">
                                    <!-- <li id="custom1" data-bs="lead"> <span class="name">李狗蛋1</span><span class="infor"></span></li> -->
                                    <li id="custom1-yellow" data-bs="lead"> <span class ="badge badge-yellow">李狗蛋1</span></li>
                                    <li id="custom2-cyan" data-bs="lead"> <span class ="badge badge-cyan">李狗蛋2</span></li>
                                    <li id="custom3-pink" data-bs="lead"> <span class ="badge badge-pink">李狗蛋3李狗蛋3</span></li>
                                    <li id="custom4-pink" data-bs="lead"> <span class ="badge badge-pink">李狗蛋4</span></li>
                                    <li id="custom5-pink" data-bs="lead"> <span class ="badge badge-pink">李狗蛋5</span></li>
                                    <li id="custom6-purple" data-bs="lead"> <span class ="badge badge-purple">李狗蛋6李狗蛋6</span></li>
                                    <li id="custom7-blue" data-bs="lead"> <span class ="badge badge-blue">李狗蛋7</span></li>
                                    <li id="custom8-red" data-bs="lead"> <span class ="badge badge-red">李狗蛋8</span></li>
                                    <li id="custom9-cyan" data-bs="lead"> <span class ="badge badge-cyan">李狗蛋9</span></li>
                                    <!-- 自定义标签现场输入 -->
                                    <div id="owner-wrapper-add"></div>
                                </ul>
                                <!-- <ul class="list-wrapper clearfix" id="owner-wrapper-add"></ul> -->

                            </div>

                            <div class="body" id="insert-custom-content" >
                                <h7 style="color: #9E9E9E;position: relative;top: 5px;">
                                    &nbsp;&nbsp;<i class="zmdi zmdi-collection-plus"></i>&nbsp;&nbsp;插入自定义标签
                                </h7>
                                <div id="color-show">
                                    <button id="color-red" class="btn btn-icon btn-icon-mini btn-round badge-red change-color"><i class="zmdi zmdi-favorite-outline"></i></button>
                                    <button id="color-green" class="btn btn-icon btn-icon-mini btn-round badge-green change-color"><i class="zmdi zmdi-favorite-outline"></i></button>
                                    <button id="color-blue" class="btn btn-icon btn-icon-mini btn-round badge-blue change-color"><i class="zmdi zmdi-favorite-outline"></i></button>
                                    <button id="color-amber" class="btn btn-icon btn-icon-mini btn-round badge-amber change-color"><i class="zmdi zmdi-favorite-outline"></i></button>
                                    <button id="color-purple" class="btn btn-icon btn-icon-mini btn-round badge-purple change-color"><i class="zmdi zmdi-favorite-outline"></i></button>
                                    <button id="color-pink" class="btn btn-icon btn-icon-mini btn-round badge-pink change-color"><i class="zmdi zmdi-favorite-outline"></i></button>
                                    <button id="color-cyan" class="btn btn-icon btn-icon-mini btn-round badge-cyan change-color"><i class="zmdi zmdi-favorite-outline"></i></button>
                                    <button id="color-yellow" class="btn btn-icon btn-icon-mini btn-round badge-yellow change-color"><i class="zmdi zmdi-favorite-outline"></i></button>
                                </div>
                                <!-- 搜索框 -->
                                <div class="search-box" id="red">
                                    <input class="search" placeholder="自定义标签. . ." type="text">
                                    <a href="javascript:;" class="search-reset fa fa-times">
                                        <span class="ti-close"></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer" style="position: relative;">
                <button type="button" class="btn btn-danger waves-effect" data-dismiss="modal">标签管理</button>
                <button type="button" onclick="showSuccessMessage()" data-dismiss="modal" class="btn btn-info btn-round waves-effect">确认</button>
            </div>
        </div>
    </div>
</div>



