{% extends "base.html" %}

<!--{% import "bootstrap/wtf.html" as wtf %}-->

{% block title %}芝士管家 - 社区后台{% endblock %}

<!--==========================
导入主页的外部样式表
============================-->
{% block css %}
<!--<link href="css/bootstrap.min.css" rel="stylesheet">-->
<!--插件相关样式-->
<!--<link rel="stylesheet" href="assets/plugins/bootstrap/css/bootstrap.min.css">-->
<!--<link href="{{ url_for('static', filename='plugins/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">-->
<!--<link href="{{ url_for('static', filename='plugins/jvectormap/jquery-jvectormap-2.0.3.min.css') }}" rel="stylesheet">-->
<!--<link href="{{ url_for('static', filename='plugins/charts-c3/plugin.css') }}" rel="stylesheet">-->
<!--<link href="{{ url_for('static', filename='plugins/morrisjs/morris.min.css') }}" rel="stylesheet">-->

<!--&lt;!&ndash;页面主样式&ndash;&gt;-->
<!--<link href="{{ url_for('static', filename='css/nav-style.css') }}" rel="stylesheet">-->
<!--<link href="{{ url_for('static', filename='css/style.min.css') }}" rel="stylesheet">-->

    <link rel="icon" href="{{ url_for('static', filename='assets/favicon.ico') }}" type="image/x-icon"> <!-- Favicon-->
    <link href="{{ url_for('static', filename='assets/plugins/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='assets/plugins/jvectormap/jquery-jvectormap-2.0.3.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='assets/plugins/charts-c3/plugin.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='assets/plugins/morrisjs/morris.min.css') }}" rel="stylesheet">

    <!--页面主样式-->
    <link href="{{ url_for('static', filename='assets/css/nav-style.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='assets/css/style.min.css') }}" rel="stylesheet">
{% endblock %}

<!--==========================
页面主要内容
============================-->
<!-----------------插入Body样式--------------->
{% block body_attribs %}
    class="theme-blush"
{% endblock %}

<!---------------Body正文部分--------------->
{% block content %}

<!-- Page Loader -->
<div class="page-loader-wrapper">
    <div class="loader">
        <div class="m-t-30"><img class="zmdi-hc-spin" src="{{ url_for('static', filename='images/loader.svg') }}" width="48" height="48" alt="Aero"></div>
        <p>载入中...</p>
    </div>
</div>

<!-- Overlay For Sidebars -->
<div class="overlay"></div>

<!-- Main Search -->
<div id="search">
    <button id="close" type="button" class="close btn btn-primary btn-icon btn-icon-mini btn-round">x</button>
    <form>
      <input type="search" value="" placeholder="Search..." />
      <button type="submit" class="btn btn-primary">搜索</button>
    </form>
</div>

<!-- 头部导航栏-->
<div class="row">
    <div class="navbar-top col-lg-5 col-md-6 col-sm-12">
        <div class="wave-wrap">
            <svg version="1.1" id="wave" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 119 26">
                <path class="path" d="M120.8,26C98.1,26,86.4,0,60.4,0C35.9,0,21.1,26,0.5,26H120.8z"/>
            </svg>
        </div>
        <ul class="nav-top">
            <li id="nav-home">
                <a href="test.html" class="mega-menu" title="Home"><i class="zmdi zmdi-home"></i></a>
            </li>
            <li class="dropdown">
                <a href="javascript:void(0);" class="dropdown-toggle" title="Notifications" data-toggle="dropdown" role="button"><i class="zmdi zmdi-notifications"></i>
                    <div class="notify"><span class="heartbit"></span><span class="point"></span></div>
                </a>
                <ul class="dropdown-menu slideUp2">
                    <li class="header">Notifications</li>
                    <li class="footer"> <a href="javascript:void(0);">View All Notifications</a> </li>
                </ul>
            </li>
            <li><a href="test.html" class="mega-menu" title="用户信息"><i class="zmdi zmdi-account"></i></a></li>
            <li><button id="btn-sider" class="right_icon_toggle_btn" type="button"><i class="zmdi zmdi-arrow-right"></i></button></li>
        </ul>
        <div class="clear"></div>
    </div>
</div>

<!-- Right Icon menu Sidebar 右侧侧边栏-->
<div class="navbar-right">
    <ul class="navbar-nav">
        <li><a href="#search" class="main_search" title="Search..."><i class="zmdi zmdi-search"></i></a></li>
        <li class="dropdown">
            <a href="javascript:void(0);" class="dropdown-toggle" title="App" data-toggle="dropdown" role="button"><i class="zmdi zmdi-apps"></i></a>
            <ul class="dropdown-menu slideUp2">
                <li class="header">App Sortcute</li>
                <li class="body">
                    <ul class="menu app_sortcut list-unstyled">
                        <li>
                            <a href="image-gallery.html">
                                <div class="icon-circle mb-2 bg-blue"><i class="zmdi zmdi-camera"></i></div>
                                <p class="mb-0">Photos</p>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">
                                <div class="icon-circle mb-2 bg-amber"><i class="zmdi zmdi-translate"></i></div>
                                <p class="mb-0">Translate</p>
                            </a>
                        </li>
                        <li>
                            <a href="events.html">
                                <div class="icon-circle mb-2 bg-green"><i class="zmdi zmdi-calendar"></i></div>
                                <p class="mb-0">Calendar</p>
                            </a>
                        </li>
                        <li>
                            <a href="contact.html">
                                <div class="icon-circle mb-2 bg-purple"><i class="zmdi zmdi-account-calendar"></i></div>
                                <p class="mb-0">Contacts</p>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">
                                <div class="icon-circle mb-2 bg-red"><i class="zmdi zmdi-tag"></i></div>
                                <p class="mb-0">News</p>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">
                                <div class="icon-circle mb-2 bg-grey"><i class="zmdi zmdi-map"></i></div>
                                <p class="mb-0">Maps</p>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li><a href="javascript:void(0);" class="js-right-sidebar" title="Setting"><i class="zmdi zmdi-settings zmdi-hc-spin"></i></a></li>
        <li><a href="sign-in.html" class="mega-menu" title="Sign Out"><i class="zmdi zmdi-power"></i></a></li>
    </ul>
</div>

<!-- Left Sidebar 左侧边栏-->
<aside id="leftsidebar" class="sidebar">
    <div class="navbar-brand">
        <button class="btn-menu ls-toggle-btn" type="button"><i class="zmdi zmdi-menu"></i></button>
        <a href=""><img src="{{ url_for('static', filename='images/logo.svg') }}" width="25" alt="芝士管家"><span class="m-l-10">芝士管家</span></a>
    </div>
    <div class="menu">
        <ul class="list">
            <li>
                <div class="user-info">
                    <a class="image" href=""><img src="{{ url_for('static', filename='images/profile_av.jpg') }}" alt="User"></a>
                    <div class="detail">
                        <h4>{{ current_user.username }}</h4>
                        <small>Super Admin</small>
                    </div>
                </div>
            </li>
            <li class="active open"><a href=""><i class="zmdi zmdi-home"></i><span>社区概况</span></a></li>
            <li><a href="my-profile.html"><i class="zmdi zmdi-account"></i><span>用户概况</span></a></li>

            <li> <a href="javascript:void(0);" class="menu-toggle"><i class="zmdi zmdi-assignment"></i><span>粉丝后勤助理</span></a>
                <ul class="ml-menu">
                    <li><a href="project-list.html">粉丝概况</a></li>
                    <li><a href="taskboard.html">分组/群发</a></li>
                </ul>
            </li>
            <li><a href="my-profile.html"><i class="zmdi zmdi-account"></i><span>数据分析师</span></a></li>
            <li> <a href="javascript:void(0);" class="menu-toggle"><i class="zmdi zmdi-grid"></i><span>社区运维助理</span></a>
                <ul class="ml-menu">
                    <li><a href="project-list.html">社区概况</a></li>
                    <li><a href="taskboard.html">维护管理</a></li>
                </ul>
            </li>
            <li><a href="my-profile.html"><i class="zmdi zmdi-swap-alt"></i><span>财务会计</span></a></li>
            <li><a href="my-profile.html"><i class="zmdi zmdi-blogger"></i><span>文案编辑助理</span></a></li>
            <li><a href="my-profile.html"><i class="zmdi zmdi-blogger"></i><span>文案编辑助理</span></a></li>
            <li><a href="my-profile.html"><i class="zmdi zmdi-blogger"></i><span>文案编辑助理</span></a></li>
            <li><a href="my-profile.html"><i class="zmdi zmdi-blogger"></i><span>文案编辑助理</span></a></li>
            <li><a href="my-profile.html"><i class="zmdi zmdi-blogger"></i><span>文案编辑助理</span></a></li>
            <li><a href="my-profile.html"><i class="zmdi zmdi-blogger"></i><span>文案编辑助理</span></a></li>
            <li><a href="my-profile.html"><i class="zmdi zmdi-blogger"></i><span>文案编辑助理</span></a></li>
            <li><a href="my-profile.html"><i class="zmdi zmdi-blogger"></i><span>文案编辑助理</span></a></li>
            <li><a href="my-profile.html"><i class="zmdi zmdi-blogger"></i><span>文案编辑助理</span></a></li>
            <li><a href="my-profile.html"><i class="zmdi zmdi-blogger"></i><span>文案编辑助理</span></a></li>
            <li><a href="my-profile.html"><i class="zmdi zmdi-blogger"></i><span>文案编辑助理</span></a></li>
            <li><a href="my-profile.html"><i class="zmdi zmdi-blogger"></i><span>文案编辑助理</span></a></li>
        </ul>
    </div>
</aside>

<!-- Right Sidebar 设置侧边栏-->
<aside id="rightsidebar" class="right-sidebar">
    <!-- 选择两个分页栏：通用设置和聊天 -->
    <ul class="nav nav-tabs sm">
        <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#setting"><i class="zmdi zmdi-settings zmdi-hc-spin"></i></a></li>
        <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#chat"><i class="zmdi zmdi-comments"></i></a></li>
    </ul>
    <div class="tab-content">
        <!-- 通用设置 -->
        <div class="tab-pane active" id="setting">
            <div class="slim_scroll">
                <div class="card">
                    <h6>Theme Option</h6>
                    <div class="light_dark">
                        <!-- <div class="radio">
                            <input type="radio" name="radio1" id="defaulttheme" value="default">
                            <label for="defaulttheme">Default Mode</label>
                        </div> -->
                        <div class="radio mb-0">
                            <input type="radio" name="radio1" id="lighttheme" value="light" checked="">
                            <label for="lighttheme">Light Mode</label>
                        </div>
                        <div class="radio mb-0">
                            <input type="radio" name="radio1" id="darktheme" value="dark">
                            <label for="darktheme">Dark Mode</label>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <h6>Color Skins</h6>
                    <ul class="choose-skin list-unstyled">
                        <li data-theme="purple"><div class="purple"></div></li>
                        <li data-theme="blue"><div class="blue"></div></li>
                        <li data-theme="cyan"><div class="cyan"></div></li>
                        <li data-theme="green"><div class="green"></div></li>
                        <li data-theme="orange"><div class="orange"></div></li>
                        <li data-theme="blush" class="active"><div class="blush"></div></li>
                    </ul>
                </div>
                <div class="card">
                    <h6>General Settings</h6>
                    <ul class="setting-list list-unstyled">
                        <li>
                            <div class="checkbox rtl_support">
                                <input id="checkbox1" type="checkbox" value="rtl_view">
                                <label for="checkbox1">RTL Version</label>
                            </div>
                        </li>
                        <li>
                            <div class="checkbox ms_bar">
                                <input id="checkbox2" type="checkbox" value="mini_active">
                                <label for="checkbox2">Mini Sidebar</label>
                            </div>
                        </li>
                        <li>
                            <div class="checkbox">
                                <input id="checkbox3" type="checkbox" checked="">
                                <label for="checkbox3">Notifications</label>
                            </div>
                        </li>
                        <li>
                            <div class="checkbox">
                                <input id="checkbox4" type="checkbox">
                                <label for="checkbox4">Auto Updates</label>
                            </div>
                        </li>
                        <li>
                            <div class="checkbox">
                                <input id="checkbox5" type="checkbox" checked="">
                                <label for="checkbox5">Offline</label>
                            </div>
                        </li>
                        <li>
                            <div class="checkbox">
                                <input id="checkbox6" type="checkbox" checked="">
                                <label for="checkbox6">Location Permission</label>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- 聊天 -->
        <div class="tab-pane right_chat" id="chat">
            <div class="slim_scroll">
                <div class="card">
                    <ul class="list-unstyled">
                        <li class="online">
                            <a href="javascript:void(0);">
                                <div class="media">
                                    <img class="media-object " src="assets/images/xs/avatar4.jpg" alt="">
                                    <div class="media-body">
                                        <span class="name">Sophia <small class="float-right">11:00AM</small></span>
                                        <span class="message">There are many variations of passages of Lorem Ipsum available</span>
                                        <span class="badge badge-outline status"></span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="online">
                            <a href="javascript:void(0);">
                                <div class="media">
                                    <img class="media-object " src="assets/images/xs/avatar5.jpg" alt="">
                                    <div class="media-body">
                                        <span class="name">Grayson <small class="float-right">11:30AM</small></span>
                                        <span class="message">All the Lorem Ipsum generators on the</span>
                                        <span class="badge badge-outline status"></span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="offline">
                            <a href="javascript:void(0);">
                                <div class="media">
                                    <img class="media-object " src="assets/images/xs/avatar2.jpg" alt="">
                                    <div class="media-body">
                                        <span class="name">Isabella <small class="float-right">11:31AM</small></span>
                                        <span class="message">Contrary to popular belief, Lorem Ipsum</span>
                                        <span class="badge badge-outline status"></span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="me">
                            <a href="javascript:void(0);">
                                <div class="media">
                                    <img class="media-object " src="assets/images/xs/avatar1.jpg" alt="">
                                    <div class="media-body">
                                        <span class="name">John <small class="float-right">05:00PM</small></span>
                                        <span class="message">It is a long established fact that a reader</span>
                                        <span class="badge badge-outline status"></span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="online">
                            <a href="javascript:void(0);">
                                <div class="media">
                                    <img class="media-object " src="assets/images/xs/avatar3.jpg" alt="">
                                    <div class="media-body">
                                        <span class="name">Alexander <small class="float-right">06:08PM</small></span>
                                        <span class="message">Richard McClintock, a Latin professor</span>
                                        <span class="badge badge-outline status"></span>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</aside>

<!-- Main Content -->

{% endblock %}


<!--==========================
插入主页相关的独立脚本
============================-->
{% block scripts %}
<!--插件相关脚本-->
<!--<script type="text/javascript" src="{{ url_for('static', filename='bundles/libscripts.bundle.js') }}"></script>-->
<!--<script type="text/javascript" src="{{ url_for('static', filename='bundles/vendorscripts.bundle.js') }}"></script>-->
<!--<script type="text/javascript" src="{{ url_for('static', filename='bundles/jvectormap.bundle.js') }}"></script>-->
<!--<script type="text/javascript" src="{{ url_for('static', filename='bundles/sparkline.bundle.js') }}"></script>-->
<!--<script type="text/javascript" src="{{ url_for('static', filename='bundles/c3.bundle.js') }}"></script>-->
<!--<script type="text/javascript" src="{{ url_for('static', filename='bundles/mainscripts.bundle.js') }}"></script>-->

<!--&lt;!&ndash;页面脚本代码入口&ndash;&gt;-->
<!--<script type="text/javascript" src="{{ url_for('static', filename='js/pages/index.js') }}"></script>-->

<script type="text/javascript" src="{{ url_for('static', filename='assets/bundles/libscripts.bundle.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='assets/bundles/vendorscripts.bundle.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='assets/bundles/jvectormap.bundle.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='assets/bundles/sparkline.bundle.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='assets/bundles/c3.bundle.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='assets/bundles/mainscripts.bundle.js') }}"></script>

<!--页面脚本代码入口-->
<script type="text/javascript" src="{{ url_for('static', filename='assets/js/pages/index.js') }}"></script>


{% endblock %}