{% extends "bootstrap/base.html" %}

{% block title %}芝士管家{% endblock %}

{% block head %}
{{ super() }}
<!-- 元数据 -->
<meta charset="utf-8">
<meta content="width=device-width, initial-scale=1.0" name="viewport">
<meta content="芝士管家(Cheese Manager)" name="keywords">
<meta content="芝士管家(Cheese Manager)" name="description">
<!-- 标签页小图标 -->
<link href="{{ url_for('static', filename='favicon.ico') }}" rel="shortcut icon">

<!-- 插入CSS外部样式表 -->
{% block css -%}

{%- endblock css %}

{% endblock %}

<!--==========================
页面内容
============================-->
{% block body %}
<!-- 插入初始页面 -->
{% block hero -%}
{%- endblock hero %}
<!-- 原内容 -->
{{ super() }}
<!-- 插入页面内容 -->
{% block page_content -%}
{%- endblock %}
{% endblock %}

<!--==========================
脚本相关库引入
============================-->
{% block scripts %}
{{ super() }}
<!-- 插入独立脚本 -->
{% block ex_script -%}
{%- endblock ex_script %}

<!-- flask-moment：本地时间格式化所需的相关库 -->
{{moment.include_moment(local_js=url_for('static',filename='js/moment-with-locales.min.js')) }}
<!-- 实现静态页面嵌入效果 -->
<!--{{ moment.include_jquery() }}-->
{% endblock %}
